.dashboard {
  background: #fbfbfd;
}
.dashboard-body {
  padding: 15px 5% !important;
}
.date {
  color: #737373;
  font-size: 16px;
}
.statistics {
  justify-content: center;
}
.application-table .card {
  border-radius: 0px;
}
.statistics .card {
  margin-bottom: 15px;
  margin-right: 15px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border: 0px;
  border-radius: 4px;
  box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.1);
}
.card-title {
  margin-top: 12px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 800;
  letter-spacing: -0.8px;
  color: #4d0032;
}
.card-description {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #240f00;
}
.card-body {
  padding: 1rem 1.6rem 0.8rem;
}
.table-header {
  margin: 20px 20px 0px;
}
.table-title {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #4d0032;
}
table .spacer {
  padding-left: 20px;
}
.application-table table thead th {
  font-size: 14px;
  line-height: 19px;
  font-weight: 100;
  letter-spacing: 0.2px;
  color: #737373;
}
.application-table table tbody td {
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #240f00;
  vertical-align: middle;
}
.dropdown a {
  font-size: 13px;
  font-weight: 100;
  color: #4d0032;
}
.btn-claim {
  display: inline-block;
  width: 122px;
  height: 30px;
  text-align: center;
  background: #f58634;
  border-radius: 2px;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
  cursor: pointer;
}
.btn-completed {
  display: inline-block;
  width: 110px;
  height: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  border-radius: 2px;
}

@media (min-width: 991px) {
  .dashboard-body {
    padding: 15px 7% !important;
  }
  .statistics {
    justify-content: space-between;
  }
  .statistics .card {
    margin-right: 0px;
  }
}
